<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57106052935-jteo2oo3nfm45bqo267mpn30691vt0a0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57106052935-jteo2oo3nfm45bqo267mpn30691vt0a0</string>
	<key>API_KEY</key>
	<string>AIzaSyBTwuOOF9_S4nrSW0InXMFB6e_kL-7Majo</string>
	<key>GCM_SENDER_ID</key>
	<string>57106052935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pe.net.abcorp.pengchat</string>
	<key>PROJECT_ID</key>
	<string>ab-noti</string>
	<key>STORAGE_BUCKET</key>
	<string>ab-noti.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57106052935:ios:f277fc402a397ff6ef7e62</string>
</dict>
</plist>